<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="model" default="$(find pkg_techfest_imc)/urdf/micromouse_robot.urdf"/>
  <arg name="extra_gazebo_args" default="--verbose"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find pkg_techfest_imc)/world/my_arena.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
  </include>

  <param name="robot_description" command="xacro $(arg model)"/>
  <rosparam file="$(find pkg_techfest_imc)/config/pos_control.yaml" command="load"/>
  <node name="controller_spawner" pkg ="controller_manager" type="spawner" ns="/simple_model" args="base_to_second_joint_position_controller 		base_to_first_joint_position_controller  
	joint_state_controller --shutdown-timeout 3"/>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-x -1.35128 -y 1.349632 -z 0.03 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />

 <node name="left_follow_simpli" pkg="pkg_techfest_imc" type="left_follow_simpli.py" output="screen" />


</launch>
